Node-Red-flow/Smart-Agri.json
[{"id":"93eb76b4.835158","type":"tab","label":"Sensor data","disabled":false,"info":""},{"id":"575e5a7b.0cfc04","type":"tab","label":"Controlling","disabled":false,"info":""},{"id":"39ec788.82c5d88","type":"tab","label":"Notificstions","disabled":false,"info":""},{"id":"56e59bbb.f2f284","type":"tab","label":"Plant detection ","disabled":false,"info":""},{"id":"f24c7c33.50e12","type":"tab","label":"Weather House","disabled":false,"info":""},{"id":"485d19fe.af14a8","type":"tab","label":"PREDICTION","disabled":false,"info":""},{"id":"b544bcca.ce7d5","type":"tab","label":"HISTORICAL DATA","disabled":false,"info":""},{"id":"4605b7bc.b8b4e8","type":"tab","label":"home","disabled":false,"info":""},{"id":"af4494e5.25bb18","type":"tab","label":"Logo","disabled":false,"info":""},{"id":"2587b1af.9381fe","type":"ui_tab","name":"Field-data","icon":"fa-microchip","order":3,"disabled":false,"hidden":false},{"id":"ca44def9.3881","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Arial,Arial,Helvetica,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#1b4b29","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#125010","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#224d00","edited":true},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fe646028.d5a8e","type":"ui_group","name":"","tab":"2587b1af.9381fe","order":1,"disp":false,"width":"6","collapse":false},{"id":"2f3d281a.f39998","type":"ibmiot","name":"new","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"94129f.6aea4d6","type":"ui_tab","name":"Logged Data","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"a5a28297.666c9","type":"ui_group","name":"","tab":"94129f.6aea4d6","order":1,"disp":false,"width":"7","collapse":false},{"id":"e350661e.4ab308","type":"cloudant","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"ecc8c419.272b28","type":"ui_tab","name":"Notification","icon":"fa-bell","order":5,"disabled":false,"hidden":false},{"id":"240c39b0.c7cbc6","type":"ui_group","name":"","tab":"ecc8c419.272b28","order":1,"disp":false,"width":"6","collapse":false},{"id":"30b2354c.77b41a","type":"ui_tab","name":"home","icon":"fa-leaf","order":1,"disabled":false,"hidden":false},{"id":"287647d3.cb15a8","type":"ui_group","name":"","tab":"30b2354c.77b41a","order":1,"disp":false,"width":"7","collapse":false},{"id":"390a167f.acf79a","type":"ibmiot","name":"Cam","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"21753e55.4523f2","type":"ui_spacer","name":"spacer","group":"fe646028.d5a8e","order":30,"width":6,"height":1},{"id":"48e2d01a.fedf1","type":"ui_spacer","name":"spacer","group":"fe646028.d5a8e","order":31,"width":2,"height":1},{"id":"e8f14902.e435d8","type":"ui_spacer","name":"spacer","group":"fe646028.d5a8e","order":33,"width":2,"height":1},{"id":"2a892526.2e3a8a","type":"ui_spacer","name":"spacer","group":"287647d3.cb15a8","order":21,"width":3,"height":1},{"id":"c43112f2.10c95","type":"ui_spacer","name":"spacer","group":"287647d3.cb15a8","order":23,"width":3,"height":1},{"id":"a5549cc9.6b9b3","type":"ibmiot in","z":"93eb76b4.835158","authentication":"apiKey","apiKey":"2f3d281a.f39998","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"New","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":340,"wires":[["b6732056.84bec","f584d706.deeba8","965570b8.b0be6","d2a1686b.9072f8","3a02ea80.aa9056","e3e5fffa.bf2aa","703820f2.7a34c","b878184f.cef6f8","30a21da3.1afc92","e6f277c6.7eb228","71997056.409ab","49e65903.c8cdb8"]]},{"id":"b6732056.84bec","type":"function","z":"93eb76b4.835158","name":"Temperature","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":120,"wires":[["c76ac5ff.c74ec8","2835a866.f31398"]]},{"id":"f584d706.deeba8","type":"function","z":"93eb76b4.835158","name":"Humidity","func":"msg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":160,"wires":[["68811dfa.1d82b4","9302141d.6b59f8"]]},{"id":"3a02ea80.aa9056","type":"function","z":"93eb76b4.835158","name":"Rain","func":"msg.payload=msg.payload.Rain\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":320,"wires":[["60c16578.5d30dc","3f786ac9.6676c6"]]},{"id":"965570b8.b0be6","type":"function","z":"93eb76b4.835158","name":"Light","func":"msg.payload=msg.payload.Light\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":240,"wires":[["30af7a4.3f9bf86","8f72865.b495678"]]},{"id":"e6f277c6.7eb228","type":"function","z":"93eb76b4.835158","name":"Moisture","func":"msg.payload=msg.payload.Moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":200,"wires":[["1fcccba4.6b3c84","4a99ff2f.4704b"]]},{"id":"d2a1686b.9072f8","type":"function","z":"93eb76b4.835158","name":"Turbudity","func":"msg.payload=msg.payload.Water_clarity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["59dd87dc.4e1d58"]]},{"id":"c76ac5ff.c74ec8","type":"function","z":"93eb76b4.835158","name":"","func":"global.set(\"t\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":120,"wires":[[]]},{"id":"cdde0f5a.9ed05","type":"ui_gauge","z":"93eb76b4.835158","name":"","group":"fe646028.d5a8e","order":2,"width":3,"height":3,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#20d5d2","#d3b90d","#ca3838"],"seg1":"","seg2":"","x":920,"y":140,"wires":[]},{"id":"35497ad0.dbd9e6","type":"ui_gauge","z":"93eb76b4.835158","name":"","group":"fe646028.d5a8e","order":6,"width":2,"height":2,"gtype":"donut","title":"Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#20d5d2","#d3b90d","#ca3838"],"seg1":"","seg2":"","x":920,"y":180,"wires":[]},{"id":"b91c72c1.ce792","type":"ui_gauge","z":"93eb76b4.835158","name":"","group":"fe646028.d5a8e","order":11,"width":2,"height":2,"gtype":"donut","title":"Light","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#20d5d2","#d3b90d","#ca3838"],"seg1":"","seg2":"","x":910,"y":220,"wires":[]},{"id":"f6b03be7.82c358","type":"ui_gauge","z":"93eb76b4.835158","name":"","group":"fe646028.d5a8e","order":4,"width":3,"height":3,"gtype":"donut","title":"Turbudity","label":"NTU","format":"{{value}}","min":0,"max":"3000","colors":["#20d5d2","#d3b90d","#ca3838"],"seg1":"","seg2":"","x":920,"y":260,"wires":[]},{"id":"1b255ee4.8b8a81","type":"ui_gauge","z":"93eb76b4.835158","name":"","group":"fe646028.d5a8e","order":10,"width":2,"height":2,"gtype":"donut","title":"Rain","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#20d5d2","#d3b90d","#ca3838"],"seg1":"","seg2":"","x":910,"y":300,"wires":[]},{"id":"6f27aeb7.cdd63","type":"ui_gauge","z":"93eb76b4.835158","name":"","group":"fe646028.d5a8e","order":9,"width":2,"height":2,"gtype":"donut","title":"Ph","label":"","format":"{{value}}","min":0,"max":"10","colors":["#de9835","#0dd325","#ca3838"],"seg1":"","seg2":"","x":910,"y":340,"wires":[]},{"id":"49e65903.c8cdb8","type":"function","z":"93eb76b4.835158","name":"","func":"msg.payload = {\n        time:     new Date().getTime(),\n        humidity: msg.payload.Humidity,\n        temperature: msg.payload.Temperature,\n        outertemperature: global.get(\"temp\"),\n        outerhumidity: global.get(\"humid\"),\n        moisture: msg.payload.Moisture,\n        gas: msg.payload.Gas,\n        light: msg.payload.Light,\n        Rain: msg.payload.Rain,\n        Power: msg.payload.power,\n        Ph: msg.payload.PH,\n        Turbidity: msg.payload.Water_clarity,\n        Watertem: msg.payload.Water_Temp,\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":680,"wires":[["241eeed6.f5bf22"]]},{"id":"241eeed6.f5bf22","type":"cloudant out","z":"93eb76b4.835158","name":"","cloudant":"","database":"historyjj","service":"node-red-viotq-2021--cloudant-1621964805856-26842","payonly":true,"operation":"insert","x":460,"y":680,"wires":[]},{"id":"d59739a6.799e28","type":"cloudant in","z":"b544bcca.ce7d5","name":"","cloudant":"","database":"historyjj","service":"node-red-viotq-2021--cloudant-1621964805856-26842","search":"_all_","design":"","index":"","x":560,"y":100,"wires":[["9c2c050d.cf2e98"]]},{"id":"f81c0af4.0f8318","type":"inject","z":"b544bcca.ce7d5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":400,"wires":[["4b034096.417e2","2e2d9264.37d78e"]]},{"id":"a9d2e3d5.a384a","type":"ui_date_picker","z":"b544bcca.ce7d5","name":"","label":"FROM","group":"a5a28297.666c9","order":1,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":590,"y":380,"wires":[["c0af5fad.6dfbf"]]},{"id":"bb46a04e.4810a","type":"ui_date_picker","z":"b544bcca.ce7d5","name":"","label":"TO","group":"a5a28297.666c9","order":2,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":590,"y":420,"wires":[["549ddfbe.946cc"]]},{"id":"c0af5fad.6dfbf","type":"change","z":"b544bcca.ce7d5","name":"","rules":[{"t":"set","p":"start-time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":380,"wires":[[]]},{"id":"4b034096.417e2","type":"change","z":"b544bcca.ce7d5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1622039196983","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[["a9d2e3d5.a384a"]]},{"id":"549ddfbe.946cc","type":"change","z":"b544bcca.ce7d5","name":"","rules":[{"t":"set","p":"end-time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":420,"wires":[[]]},{"id":"2e2d9264.37d78e","type":"change","z":"b544bcca.ce7d5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1622039196983","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":420,"wires":[["bb46a04e.4810a"]]},{"id":"9c2c050d.cf2e98","type":"function","z":"b544bcca.ce7d5","name":"","func":"// This function reformats the timeseries data into an array that \n// Chart.js (See http://www.chartjs.org/ ) will plot\n// The node-red-dashboard Chart node uses Chart.js \n\nvar starttime = flow.get(\"start-time\");\nvar endtime = flow.get(\"end-time\");\nif( msg.payload.length === 0 ) {\n    // The historical database does not contain values for this date range \n    // Reset the chart with a blank array\n    msg.payload = [] ;\n    return msg;\n}\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [ {\"series\":[\"Humidity\"],\n                   \"data\":[[{\"x\":msg.payload[0].time,\"y\":msg.payload[0].humidity}]],\n                   \"labels\":[\"\"]}];\n                   \n// Start at 1 because we've already added element 0 in the initial array definition\nfor( var i=1; i < msg.payload.length; i++ ) {\n    if( (msg.payload[i].time >= starttime) && (msg.payload[i].time <= endtime) ) {\n        // This temperature reading is within the Date Range\n        ChartData[0].data[0].push( { \"x\":msg.payload[i].time,\"y\":msg.payload[i].humidity } );\n    }    \n}\n// Now we need to sort on the time so that we give the Chart node an array in time order\nChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\nmsg.payload = ChartData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":100,"wires":[["e9b9aa67.783128"]]},{"id":"e9b9aa67.783128","type":"ui_chart","z":"b544bcca.ce7d5","name":"","group":"a5a28297.666c9","order":4,"width":7,"height":8,"label":"chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Please choose sensor type","dot":false,"ymin":"10","ymax":"100","removeOlder":"10","removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":870,"y":280,"wires":[[]]},{"id":"5cfe194c.be64a8","type":"ui_dropdown","z":"b544bcca.ce7d5","name":"","label":"","tooltip":"","place":"Select Sensor","group":"a5a28297.666c9","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Humidity","value":"humidity","type":"str"},{"label":"Temperature","value":"temp","type":"str"},{"label":"Outside Temperature","value":"outtemp","type":"str"},{"label":"Outside Humidity","value":"outhum","type":"str"},{"label":"Rain","value":"rain","type":"str"},{"label":"Moisture","value":"moist","type":"str"},{"label":"Light","value":"light","type":"str"},{"label":"Power","value":"power","type":"str"},{"label":"Water Temperature","value":"watertemp","type":"str"},{"label":"Turbidity","value":"Turb","type":"str"},{"label":"PH","value":"ph","type":"str"},{"label":"Gas","value":"gas","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":210,"y":180,"wires":[["bfa0ea79.47e8b8"]]},{"id":"e5342ab7.d1b2b8","type":"function","z":"b544bcca.ce7d5","name":"","func":"// This function reformats the timeseries data into an array that \n// Chart.js (See http://www.chartjs.org/ ) will plot\n// The node-red-dashboard Chart node uses Chart.js \n\nvar starttime = flow.get(\"start-time\");\nvar endtime = flow.get(\"end-time\");\nif( msg.payload.length === 0 ) {\n    // The historical database does not contain values for this date range \n    // Reset the chart with a blank array\n    msg.payload = [] ;\n    return msg;\n}\n//msg.topic=\"Line1\";\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [ {\"series\":[\"Temprature\"],\n                   \"data\":[[{\"x\":msg.payload[0].time,\"y\":msg.payload[0].temp}]],\n                   \"labels\":[\"\"]}];\n                   \n// Start at 1 because we've already added element 0 in the initial array definition\nfor( var i=1; i < msg.payload.length; i++ ) {\n    if( (msg.payload[i].time >= starttime) && (msg.payload[i].time <= endtime) ) {\n        // This temperature reading is within the Date Range\n        ChartData[0].data[0].push( { \"x\":msg.payload[i].time,\"y\":msg.payload[i].temp } );\n    }    \n}\n// Now we need to sort on the time so that we give the Chart node an array in time order\nChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\nmsg.payload = ChartData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":140,"wires":[["e9b9aa67.783128"]]},{"id":"bfa0ea79.47e8b8","type":"switch","z":"b544bcca.ce7d5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":390,"y":180,"wires":[["d59739a6.799e28"],["2f87572d.2b6db8"],[],[],[],[],[],[],[],[],[],[]]},{"id":"2f87572d.2b6db8","type":"cloudant in","z":"b544bcca.ce7d5","name":"","cloudant":"","database":"historyjj","service":"node-red-viotq-2021--cloudant-1621964805856-26842","search":"_all_","design":"","index":"","x":560,"y":140,"wires":[["e5342ab7.d1b2b8"]]},{"id":"35d9283b.9cf1a8","type":"openweathermap","z":"f24c7c33.50e12","name":"","wtype":"current","lon":"","lat":"","city":"Kolkata","country":"India","language":"en","x":300,"y":340,"wires":[["7b508040.7b465","56172235.b5826c","88b18692.4d35b8","389ab10a.95592e","f8c1a42b.fb23c8","74a2714f.aba2b","6ae74f87.c4fe2"]]},{"id":"56172235.b5826c","type":"function","z":"f24c7c33.50e12","name":"","func":"msg.payload=msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":260,"wires":[["3bf5c7a8.66aa78"]]},{"id":"c7ea0948.807b58","type":"ui_audio","z":"f24c7c33.50e12","name":"","group":"fe646028.d5a8e","voice":"Google US English","always":"","x":800,"y":260,"wires":[]},{"id":"a341f065.d5e5b","type":"function","z":"f24c7c33.50e12","name":"","func":"var fcdata = {};\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n    if (units == \"imperial\") {\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°C'\n        }\n    }\n    else { // metric\n//        temp = parseFloat(temp).toFixed(1) + '°C'\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°C'\n        }\n    }\n    return temp;\n}\nfunction dayName(unixTime){\n    var d = new Date(unixTime * 1000);\n    var weekday = new Array(7);\n        weekday[0] = \"Sun\";\n        weekday[1] = \"Mon\";\n        weekday[2] = \"Tue\";\n        weekday[3] = \"Wed\";\n        weekday[4] = \"Thu\";\n        weekday[5] = \"Fri\";\n        weekday[6] = \"Sat\";\n\n    return weekday[d.getDay()]\n}\nfunction timeConvert(UNIX_timestamp){\n  UNIX_timestamp=UNIX_timestamp +msg.data.timezone_offset;\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n//  return hour + ':' + min + suffix;\n  return hour + suffix;\n}\n// prepare forecast data for CSS based ui widget\n\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.hourly[1].dt),\n      cell02: timeConvert(msg.payload.hourly[2].dt),\n      cell03: timeConvert(msg.payload.hourly[3].dt),\n      cell04: timeConvert(msg.payload.hourly[4].dt),\n      cell05: timeConvert(msg.payload.hourly[5].dt),\n      cell06: timeConvert(msg.payload.hourly[6].dt),\n      cell07: dayName(msg.payload.daily[1].dt),\n      cell08: dayName(msg.payload.daily[2].dt),\n      cell09: dayName(msg.payload.daily[3].dt),\n      cell10: dayName(msg.payload.daily[4].dt),\n  \t},\n  \tdata02: {\n       cell01: formatTemp(msg.payload.hourly[1].temp),\n       cell02: formatTemp(msg.payload.hourly[2].temp),\n       cell03: formatTemp(msg.payload.hourly[3].temp),\n       cell04: formatTemp(msg.payload.hourly[4].temp),\n       cell05: formatTemp(msg.payload.hourly[5].temp),\n       cell06: formatTemp(msg.payload.hourly[6].temp),\n       cell07: formatTemp(msg.payload.daily[1].temp.max, msg.payload.daily[0].temp.min),\n       cell08: formatTemp(msg.payload.daily[2].temp.max, msg.payload.daily[1].temp.min),\n       cell09: formatTemp(msg.payload.daily[3].temp.max, msg.payload.daily[2].temp.min),\n       cell10: formatTemp(msg.payload.daily[4].temp.max, msg.payload.daily[3].temp.min),\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.hourly[1].weather[0].icon,\n  \t\tcell02: msg.payload.hourly[2].weather[0].icon,\n  \t\tcell03: msg.payload.hourly[3].weather[0].icon,\n  \t\tcell04: msg.payload.hourly[4].weather[0].icon,\n  \t\tcell05: msg.payload.hourly[5].weather[0].icon,\n  \t\tcell06: msg.payload.hourly[6].weather[0].icon,\n  \t\tcell07: msg.payload.daily[1].weather[0].icon,\n  \t\tcell08: msg.payload.daily[2].weather[0].icon,\n  \t\tcell09: msg.payload.daily[3].weather[0].icon,\n  \t\tcell10: msg.payload.daily[4].weather[0].icon,\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":340,"wires":[["a3a3a11d.d1825","9ccabebe.822b"]]},{"id":"7b508040.7b465","type":"function","z":"f24c7c33.50e12","name":"","func":"msg.location = {\n       lat:msg.location.lat,\n       lon:msg.location.lon,\n       sunrise:timeConvert(msg.payload.sunrise+msg.data.timezone),\n       sunset:timeConvert(msg.payload.sunset+msg.data.timezone)\n    } ;\n\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n  return hour + ':' + min + suffix;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["3b7387c7.89c388","69de87fb.2a79e8","d5a2910f.3e4e2"]]},{"id":"3b7387c7.89c388","type":"openweathermap","z":"f24c7c33.50e12","name":"","wtype":"onecall","lon":"","lat":"","city":"","country":"","language":"en","x":650,"y":340,"wires":[["a341f065.d5e5b","72163e64.f81cc"]]},{"id":"72163e64.f81cc","type":"function","z":"f24c7c33.50e12","name":"","func":"var icon = {};\n\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n  return hour + ':' + min + suffix;\n}\n\nvar degreesToCardinal = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"NNE\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"NE\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"ENE\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"E\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"ESE\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"SE\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"SSE\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"S\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"SSW\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"SW\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"WSW\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"W\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"WNW\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"NW\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"NNW\";\n  }else{\nreturn \"N\"; \n  }\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' °C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed()*18/5;\n}\nelse // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' °C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1)*18/5;\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise+msg.data.timezone_offset);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset+msg.data.timezone_offset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":380,"wires":[["9f4688f.d19fa78","988d6134.f6b7c"]]},{"id":"b1d39bf1.ba3a58","type":"ui_template","z":"f24c7c33.50e12","group":"287647d3.cb15a8","name":"wind direction","order":7,"width":2,"height":2,"format":"<!--\npass msg.payload.degrees, msg.payload.speed, msg.payload.speed_unit\n-->\n<script>\n    // Watch the incoming message and convert the degrees to a human readable compass direction\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if(typeof(msg) === \"object\"){\n                // Convert the degrees to cardinal directions\n                var deg = msg.payload.degrees;\n                var dirs = [\"N\",\"NNE\",\"NE\",\"ENE\",\"E\",\"ESE\",\"SE\",\"SSE\",\"S\",\"SSW\",\"SW\",\"WSW\",\"W\",\"WNW\",\"NW\",\"NNW\",\"N\"];\n                var idx = Math.round(deg*(dirs.length-1)/360);\n                scope.direction = dirs[idx];\n                \n                \n                // Keep track of the highest speed value, giving it 40 as a rough starting point.\n                // Works okay for MPH and KTS, but KMH will show purple at a lower speed than the rest\n                scope.max_val = (msg.payload.speed > scope.max_val ? msg.payload.speed : 40);\n                \n                scope.p_speed = msg.payload.speed;\n                scope.p_max_val = scope.max_val;\n                var low_colors = [\n                    '#FFFFFF', // white\n                    '#d6f7ff', // light blue\n                    '#85ffd2', // blue green\n                    '#61ff6e' // green 10mph\n                    ];\n                var high_colors = [\n                    '#61ff6e', // green 10mph\n                    '#d5ff61', // green yellow\n                    '#fffc61', // yellow\n                    '#ffe561', // yellow orange 20mph\n                    '#ffcd61', // orange\n                    '#ffad61', // orange red\n                    '#ff7661', // red\n                    '#ff61dd', // red purple\n                    '#e261ff' // purple\n                    ];\n                \n                if(msg.payload.speed <= 10){\n                    scope.color = low_colors[Math.round(msg.payload.speed*(low_colors.length-1)/10)];\n                }else{\n                    scope.color = high_colors[Math.round(msg.payload.speed*(high_colors.length-1) / scope.max_val)];\n                }\n                \n                $(\".compass_container\").css(\"background-color\",scope.color);\n            }\n    \t});\n    })(scope);\n    \n    \n    $(document).ready(function(){\n        setTimeout(function () {\n            \n            $(\".compass_container\").parent().css(\"overflow\",\"hidden\");\n        \n           \n            $(\".compass_container .triangle\").css(\"border-bottom-color\",$(\"md-toolbar\").css(\"background-color: white\"));\n        \n           \n            $(\".compass_container\").each(function(k,v){\n                var scaleWidth = $(v).parent().width() / $(v).width();\n                var scaleHeight = $(v).parent().height() / $(v).height();\n        \n                var translateX = ($(v).width() - $(v).parent().width()) / 2;\n                var translateY = ($(v).height() - $(v).parent().height()) / 2;\n        \n                $(v).css(\"transform\",\"translate(-\"+translateX+\"px,-\"+translateY+\"px) scale(\"+scaleWidth+\",\"+scaleHeight+\") \");\n            });\n            \n            $(\".compass_container\").css(\"display\",\"block\"); \n        }, 1000);\n    });\n</script>\n<style>\n     @import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);\n     \n     .compass_container{\n        transition: 1s ease-in-out;\n        position: relative;\n        display: none;\n        width: 100px;\n        height: 100px;\n        border-radius: 100%;\n        font-family: 'Dosis';\n        font-size: 50px;\n        box-shadow: inset 0px 0px 0px 8px #FF7F50; \n        background-color:{color};\n     }\n     \n     .compass_container .compass_header{\n        font-weight: bold;\n        color: red;\n        position: absolute;\n        text-align: center;\n        width: 80%;\n        font-size: 50%;\n        top: -15px;\n        \n     }\n     .compass_container .text_container{\n        height: 100%;\n        width: 100%;\n        padding: 0px;\n        display: block;\n        border-radius: 50%;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n     }\n     \n     .compass_container .arrow{\n        transition: 1s ease-in-out;\n        width: 100%;\n        height: 91%;\n        display: block;\n        color: red;\n        position: absolute;\n        top: 0;\n     }\n     \n     .compass_container .arrow .triangle{\n        width: 0;\n\t\theight: 0;\n\t\tborder-left: 10px solid transparent;\n\t\tborder-right: 10px solid transparent;\n\t\tborder-bottom: 20px solid black;\n\t\tposition: absolute;\n\t\ttop: -15px;\n\t\tleft: 80%;\n\t\tmargin-left: -45px;\n\t\tz-index: 99;\n     }\n</style>\n\n<div class=\"compass_container\" style=\"\">\n    <div class=\"compass_header\">N</div>\n  \n    <div class=\"nr-dashboard-text text_container\">\n    \n        <div class=\"direction\" style=\"font-size: 30%;font-weight: bold;color: #000000;text-align: center;\">{{direction}}</div>\n        <div style=\"flex-direction: row; font-weight: bold;\">\n            <span style=\"font-size: 30%;color: #000000;text-align: center;\">{{msg.payload.speed}} {{msg.payload.speed_unit}} </span>\n            \n        </div>\n    </div>\n    <div class=\"arrow\" style=\"transform: rotate({{msg.payload.degrees}}deg)\">\n      <div class=\"triangle\"></div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1320,"y":380,"wires":[[]]},{"id":"9ccabebe.822b","type":"ui_template","z":"f24c7c33.50e12","group":"287647d3.cb15a8","name":"Day-Wise","order":3,"width":7,"height":2,"format":"<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell07}}\"></i></span>\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell08}}\"></i></span>\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell09}}\"></i></span>\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell10}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: #FF6600;text-align: center;font-size: 80%\">{{data.cell07}}</span>\n  <span flex style=\"color: #FF6600;text-align: center;font-size: 80%\">{{data.cell08}}</span>\n  <span flex style=\"color: #FF6600;text-align: center;font-size: 80%\">{{data.cell09}}</span>\n  <span flex style=\"color: #FF6600;text-align: center;font-size: 80%\">{{data.cell10}}</span>\n </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":360,"wires":[[]]},{"id":"a3a3a11d.d1825","type":"ui_template","z":"f24c7c33.50e12","group":"287647d3.cb15a8","name":"Time-Wise","order":4,"width":7,"height":2,"format":"<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell02}}\"></i></span>\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell03}}\"></i></span>\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell04}}\"></i></span>\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell05}}\"></i></span>\n  <span flex style=\"color: #FFFFFF;text-align: center\"><i class=\"wi wi-owm-{{data.cell06}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: #FF6600;text-align: center;\">{{data.cell01}}</span>\n  <span flex style=\"color: #FF6600;text-align: center\">{{data.cell02}}</span>\n  <span flex style=\"color: #FF6600;text-align: center\">{{data.cell03}}</span>\n  <span flex style=\"color: #FF6600;text-align: center\">{{data.cell04}}</span>\n  <span flex style=\"color: #FF6600;text-align: center\">{{data.cell05}}</span>\n  <span flex style=\"color: #FF6600;text-align: center\">{{data.cell06}}</span>\n </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1010,"y":320,"wires":[[]]},{"id":"df4a53c0.675da","type":"ui_button","z":"f24c7c33.50e12","name":"","group":"287647d3.cb15a8","order":12,"width":7,"height":1,"passthru":true,"label":"Refresh","tooltip":"Refresh","color":"white","bgcolor":"light green","icon":"fa-search fa-2x","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":340,"wires":[["35d9283b.9cf1a8"]]},{"id":"3bf5c7a8.66aa78","type":"watson-text-to-speech","z":"f24c7c33.50e12","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_CharlotteV3Voice","voicehidden":"","format":"audio/wav","password":"Ayanghosh974@","apikey":"QFX71Wr1dlD0PNLhWmRJivkvqV6SFNVYpq51A28t2sGK","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/ee5c4165-7e7b-4bca-94c1-5fc6f410f507","x":640,"y":260,"wires":[["c7ea0948.807b58"]]},{"id":"69de87fb.2a79e8","type":"ui_text","z":"f24c7c33.50e12","group":"287647d3.cb15a8","order":6,"width":5,"height":1,"name":"","label":"Sunrise","format":"<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.location.sunrise}}","layout":"row-center","x":580,"y":380,"wires":[]},{"id":"d5a2910f.3e4e2","type":"ui_text","z":"f24c7c33.50e12","group":"287647d3.cb15a8","order":8,"width":5,"height":1,"name":"","label":"SunSET","format":"<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.location.sunset}}","layout":"row-center","x":580,"y":420,"wires":[]},{"id":"389ab10a.95592e","type":"ui_text","z":"f24c7c33.50e12","group":"287647d3.cb15a8","order":10,"width":3,"height":1,"name":"","label":"Pressure","format":"{{msg.payload.pressure}}mbar","layout":"col-center","x":300,"y":460,"wires":[]},{"id":"f8c1a42b.fb23c8","type":"ui_text","z":"f24c7c33.50e12","group":"287647d3.cb15a8","order":11,"width":2,"height":1,"name":"","label":"Humidity","format":"{{msg.payload.humidity}} %","layout":"col-center","x":300,"y":500,"wires":[]},{"id":"88b18692.4d35b8","type":"ui_text","z":"f24c7c33.50e12","group":"287647d3.cb15a8","order":9,"width":2,"height":1,"name":"","label":"Temperature","format":"{{msg.payload.tempc}} °C","layout":"col-center","x":290,"y":420,"wires":[]},{"id":"9f4688f.d19fa78","type":"function","z":"f24c7c33.50e12","name":"","func":"msg = {\n    \"payload\": {\n        \"speed\":msg.payload.current.wind_speed,\n        \"speed_unit\":\"KMH\",\n        \"degrees\":msg.payload.current.wind_deg\n        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":380,"wires":[["b1d39bf1.ba3a58"]]},{"id":"4f8118ae.be4658","type":"ui_template","z":"b544bcca.ce7d5","group":"a5a28297.666c9","name":"","order":5,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/1540005.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":60,"wires":[[]]},{"id":"7a7a7cf4.8bead4","type":"function","z":"485d19fe.af14a8","name":"pre-token","func":"var apikey=\"iMc5bpRjPzyG13ckR0xlNe7UvtzIMNbn9DsP05gvCydo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":80,"wires":[["d9c9c743.912f68"]]},{"id":"d9c9c743.912f68","type":"http request","z":"485d19fe.af14a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":80,"wires":[["f52ffba2.5398c8"]]},{"id":"f52ffba2.5398c8","type":"function","z":"485d19fe.af14a8","name":"Pre Prediction","func":"var _dewptm=global.get(\"dew\")\nvar _heatindexm=global.get(\"heat\")\nvar _hum=global.get(\"humid\")\nvar _pressurem=global.get(\"pressure\")\nvar _tempm=global.get(\"temp\")\nvar _wdird=global.get(\"wind\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"_dewptm\",\"_heatindexm\",\"_hum\",\"_pressurem\",\"_tempm\",\"_wdird\"],\"values\":[[_dewptm,_heatindexm,_hum,_pressurem,_tempm,_wdird]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":80,"wires":[["907c7b38.c39be8"]]},{"id":"6da2979.a711068","type":"function","z":"485d19fe.af14a8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":80,"wires":[["4a00c254.02aa3c"]]},{"id":"907c7b38.c39be8","type":"http request","z":"485d19fe.af14a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/85f81bc1-f6cd-4a40-917a-f4c6505216be/predictions?version=2021-06-18","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":80,"wires":[["6da2979.a711068"]]},{"id":"988d6134.f6b7c","type":"function","z":"f24c7c33.50e12","name":"","func":"\nglobal.set(\"humid\",msg.payload.current.humidity)\nglobal.set(\"wind\",msg.payload.current.wind_speed)\nglobal.set(\"dew\",msg.payload.dew)\nglobal.set(\"pressure\",msg.payload.current.pressure)\nglobal.set(\"heat\",msg.payload.heat)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":420,"wires":[[]]},{"id":"74a2714f.aba2b","type":"function","z":"f24c7c33.50e12","name":"","func":"global.set(\"temp\",msg.payload.tempc)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":380,"wires":[[]]},{"id":"4a00c254.02aa3c","type":"function","z":"485d19fe.af14a8","name":"","func":"var val=msg.payload;\nif(val==0)\n{\n    msg.payload=\"LOW\";\n}\nelse\n{\n    msg.payload=\"HIGH\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":80,"wires":[["ac0347d8.800288"]]},{"id":"a01bbd88.3506f","type":"comment","z":"485d19fe.af14a8","name":"Auto AI and ML","info":"HERE IS THE ML MODEL PREDICTION OF RAIN","x":380,"y":20,"wires":[]},{"id":"7fb7ceaf.13288","type":"visual-recognition-v3","z":"56e59bbb.f2f284","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/196e52ce-e133-49f4-84be-0dcde456bfbf","image-feature":"classifyImage","lang":"en","x":510,"y":200,"wires":[["35512925.9b35d6","61f97258.af751c"]]},{"id":"580f8983.b1a9a8","type":"cloudant out","z":"56e59bbb.f2f284","name":"","cloudant":"e350661e.4ab308","database":"plant_disease","service":"node-red-viotq-2021--cloudant-1621964805856-26842","payonly":false,"operation":"insert","x":800,"y":80,"wires":[]},{"id":"41ba1cb.9327fe4","type":"ui_template","z":"56e59bbb.f2f284","group":"287647d3.cb15a8","name":"plant_detect","order":18,"width":4,"height":7,"format":"   <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-3\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-3\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img width=\"160\" height=\"280\" src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t</div>\n\t\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":200,"wires":[["2a310194.a52ece"]]},{"id":"35512925.9b35d6","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg.payload = msg.result.images[0].classifiers[0].classes\nmsg.payload=msg.payload[0].class\n\nglobal.set(\"disease\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":220,"wires":[["206b58ea.2afa88"]]},{"id":"2a310194.a52ece","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg.params={\"classifier_ids\":\"DefaultCustomModel_1851799090\"}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":200,"wires":[["7fb7ceaf.13288"]]},{"id":"d73617e0.5d9818","type":"inject","z":"56e59bbb.f2f284","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["12ae8eaf.fb0bb1"]]},{"id":"12ae8eaf.fb0bb1","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg.payload = {\n        Type:     \"n\",\n        Cause:     \"because n\",\n        Cure: \"Do n\"\n        \n    } ;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":80,"wires":[["580f8983.b1a9a8"]]},{"id":"206b58ea.2afa88","type":"cloudant in","z":"56e59bbb.f2f284","name":"","cloudant":"e350661e.4ab308","database":"plant_disease","service":"node-red-viotq-2021--cloudant-1621964805856-26842","search":"_all_","design":"","index":"","x":860,"y":220,"wires":[["97952a1c.1d9748"]]},{"id":"97952a1c.1d9748","type":"function","z":"56e59bbb.f2f284","name":"","func":"var tot_count=msg.payload.length;\nvar di= global.get(\"disease\")\nvar dd;\nfor(i=0;i<tot_count;i++)\n{\n    if (di==msg.payload[i].payload.Type)\n    {\n        dd=i;\n    }\n}\nmsg.payload={\na: global.get(\"disease\"),\nb: msg.payload[dd].payload.Cause,\nc: msg.payload[dd].payload.Cure,\nd: global.get(\"scr\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":220,"wires":[["4095231d.b4227c","e8579dfc.e75ee"]]},{"id":"60a6ac7a.6885c4","type":"ui_form","z":"39ec788.82c5d88","name":"","label":"","group":"240c39b0.c7cbc6","order":4,"width":0,"height":0,"options":[{"label":"Temperature","value":"Temperature","type":"checkbox","required":true,"rows":null},{"label":"Humidity ","value":"Humidity","type":"checkbox","required":true,"rows":null},{"label":"Moisture","value":"Moisture","type":"checkbox","required":true,"rows":null},{"label":"Ph","value":"PH","type":"checkbox","required":true,"rows":null},{"label":"Water Tank %","value":"Water Tank %","type":"checkbox","required":true,"rows":null},{"label":"Outside Temperature","value":"Outside Temperature","type":"checkbox","required":true,"rows":null},{"label":"Outside Humidity","value":"Outside Humidity","type":"checkbox","required":true,"rows":null},{"label":"1st Alarm Time(HH:MM)","value":"1st Alarm Time","type":"text","required":true,"rows":null},{"label":"2nd Alarm Time(HH:MM)","value":"2nd Alarm Time","type":"text","required":true,"rows":null}],"formValue":{"Temperature":false,"Humidity":false,"Moisture":false,"PH":false,"Water Tank %":false,"Outside Temperature":false,"Outside Humidity":false,"1st Alarm Time":"","2nd Alarm Time":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":490,"y":220,"wires":[["8fc19e2.b4d256","712b5f17.64bf1","46998217.1232ec","6b14ce74.b5fa1","18b6c679.2e153a","cd5dfec8.23d98","cef60e36.6bc28","c751340.d7d7ad","6b34a68c.696ed8"]]},{"id":"b29114b9.f34ef8","type":"inject","z":"39ec788.82c5d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":300,"wires":[["cb664316.93f2c","4e9b1471.ab129c"]]},{"id":"8fc19e2.b4d256","type":"change","z":"39ec788.82c5d88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":260,"wires":[["60a6ac7a.6885c4"]]},{"id":"4e9b1471.ab129c","type":"ui_dropdown","z":"39ec788.82c5d88","name":"","label":"","tooltip":"","place":"Choose The Crop You Planted ","group":"240c39b0.c7cbc6","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Barley","value":"Barley","type":"str"},{"label":"Cotton","value":"Cotton","type":"str"},{"label":"Ground Nuts","value":"Ground Nuts","type":"str"},{"label":"Maize","value":"Maize","type":"str"},{"label":"Millets","value":"Millets","type":"str"},{"label":"Oil seeds","value":"Oil seeds","type":"str"},{"label":"Paddy","value":"Paddy","type":"str"},{"label":"Pulses","value":"Pulses","type":"str"},{"label":"Sugarcane","value":"Sugarcane","type":"str"},{"label":"Tobacco","value":"Tobacco","type":"str"},{"label":"Wheat","value":"Wheat","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":510,"y":380,"wires":[["f81c890e.591d38"]]},{"id":"43c8b7a.69b2e48","type":"ui_date_picker","z":"39ec788.82c5d88","name":"","label":"Planting Date","group":"240c39b0.c7cbc6","order":2,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":460,"y":520,"wires":[["cb664316.93f2c","f3527b90.1cd778","dae740c9.50a64"]]},{"id":"712b5f17.64bf1","type":"function","z":"39ec788.82c5d88","name":"","func":"var r=global.get(\"hu_mi_di\");\nif(msg.payload.Humidity== 1)\n{\n    \n    msg.payload= \"Humidity of the Green-House= \"+r;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":80,"wires":[["5d7d187.01577e8"]]},{"id":"46998217.1232ec","type":"function","z":"39ec788.82c5d88","name":"","func":"var one=msg.payload[\"1st Alarm Time\"]\nvar two=msg.payload[\"2nd Alarm Time\"]\nmsg.payload={\n    \n    alarm: msg.payload[\"1st Alarm Time\"] ,\n    alarm2: msg.payload[\"2nd Alarm Time\"]\n}\nglobal.set(\"alarm\",msg.payload)\nmsg.topic=\"Alarm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":320,"wires":[[]]},{"id":"18b6c679.2e153a","type":"function","z":"39ec788.82c5d88","name":"","func":"var r=global.set(\"P_H\");\nif(msg.payload.PH==1)\n{\n    msg.payload= \"PH of the Green-House soil= \"+r;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":120,"wires":[["5d7d187.01577e8"]]},{"id":"cd5dfec8.23d98","type":"function","z":"39ec788.82c5d88","name":"","func":"var r=global.get(\"wa_ter_tank\");\nif(msg.payload[\"Water Tank %\"]==1)\n{\n    msg.payload= \"Water Tank Storage %= \"+r;\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":160,"wires":[["5d7d187.01577e8"]]},{"id":"cef60e36.6bc28","type":"function","z":"39ec788.82c5d88","name":"","func":"var r=global.get(\"temp\")\nif(msg.payload[\"Outside Temperature\"]==1)\n{\n    msg.payload= \"Temperature of the atmosphere= \"+r;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":200,"wires":[["5d7d187.01577e8"]]},{"id":"c751340.d7d7ad","type":"function","z":"39ec788.82c5d88","name":"","func":"var r=global.get(\"humid\")\nif(msg.payload[\"Outside Humidity\"]==1)\n{\n    msg.payload= \"Humidity of the atmosphere= \"+r;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":240,"wires":[["5d7d187.01577e8"]]},{"id":"6b14ce74.b5fa1","type":"function","z":"39ec788.82c5d88","name":"","func":"var r=global.get(\"t\");//global get temperature\nif(msg.payload.Temperature==1)\n{\n    msg.payload= \"Temperature of the Green-House= \"+r; \n    \n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":40,"wires":[["5d7d187.01577e8"]]},{"id":"6b34a68c.696ed8","type":"function","z":"39ec788.82c5d88","name":"","func":"var r=global.get(\"moist\")\nif(msg.payload.Moisture==1)\n{\n    msg.payload= \"Moisture % of the Green-House= \"+r;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":280,"wires":[["5d7d187.01577e8"]]},{"id":"5d7d187.01577e8","type":"join","z":"39ec788.82c5d88","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":160,"wires":[["7cd30cc4.1a22a4"]]},{"id":"ed7a30bb.a4bf5","type":"ibmiot out","z":"39ec788.82c5d88","authentication":"apiKey","apiKey":"2f3d281a.f39998","outputType":"cmd","deviceId":"relay","deviceType":"Relay_alarm","eventCommandType":"yt123","format":"json","data":"relay","qos":0,"name":"IBM IoT","service":"registered","x":1360,"y":520,"wires":[]},{"id":"cb664316.93f2c","type":"change","z":"39ec788.82c5d88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":440,"wires":[["43c8b7a.69b2e48"]]},{"id":"d45f0b08.5ca408","type":"function","z":"485d19fe.af14a8","name":"pre-token","func":"var apikey=\"9T0dF-Mjq2fH8oePF_SEqPED-ndkMHynXOhrHPhxOPVE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["8cb2f3eb.73789"]]},{"id":"8cb2f3eb.73789","type":"http request","z":"485d19fe.af14a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":200,"wires":[["c67db33d.5a516"]]},{"id":"c67db33d.5a516","type":"function","z":"485d19fe.af14a8","name":"Pre Prediction","func":"var state=global.get(\"state\")\nvar district=global.get(\"district\")\nvar year=global.get(\"year\")\nvar season=global.get(\"season\")\nvar crop=global.get(\"crop\")\nvar area=global.get(\"area\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"State_Name\",\"District_Name\",\"Crop_Year\",\"Season\",\"Crop\",\"Area\"],\"values\":[[state,district,year,season,crop,area]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":200,"wires":[["83c783b4.a4f45"]]},{"id":"9fae41ab.229a1","type":"function","z":"485d19fe.af14a8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":200,"wires":[["bd09ff22.a92ba"]]},{"id":"83c783b4.a4f45","type":"http request","z":"485d19fe.af14a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/a163c606-3cb0-4f5e-8230-bbb3a249b450/predictions?version=2021-06-17","tls":"","persist":false,"proxy":"","authType":"","x":1190,"y":200,"wires":[["9fae41ab.229a1"]]},{"id":"ea67dad.d85a128","type":"comment","z":"485d19fe.af14a8","name":"Crop production","info":"Crop production\n","x":400,"y":140,"wires":[]},{"id":"29d1c542.6ca4da","type":"comment","z":"485d19fe.af14a8","name":"Crop Recomendation","info":"\n","x":400,"y":300,"wires":[]},{"id":"b68a2637.522868","type":"function","z":"485d19fe.af14a8","name":"pre-token","func":"var apikey=\"9T0dF-Mjq2fH8oePF_SEqPED-ndkMHynXOhrHPhxOPVE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":360,"wires":[["bd3c7c43.df2ab"]]},{"id":"bd3c7c43.df2ab","type":"http request","z":"485d19fe.af14a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":360,"wires":[["7bcddae1.7b3ce4"]]},{"id":"7bcddae1.7b3ce4","type":"function","z":"485d19fe.af14a8","name":"Pre Prediction","func":"var hum=global.get(\"humid\")\nvar tempm=global.get(\"temp\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"N\",\"P\",\"K\",\"temperature\",\"humidity\",\"ph\",\"rainfall\"],\"values\":[[90,42,43,20.8797,82.00,6.502985292,202.9355362]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":360,"wires":[["cba789d2.eacf38"]]},{"id":"59317940.284878","type":"function","z":"485d19fe.af14a8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":360,"wires":[["2d29d4c9.0dc29c"]]},{"id":"cba789d2.eacf38","type":"http request","z":"485d19fe.af14a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/5aedd58e-d2b4-449c-9957-1887820015d2/predictions?version=2021-06-18","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":360,"wires":[["59317940.284878"]]},{"id":"60b372ca.99010c","type":"inject","z":"485d19fe.af14a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":360,"wires":[["b68a2637.522868"]]},{"id":"7f6674d5.d7da1c","type":"function","z":"485d19fe.af14a8","name":"pre-token","func":"var apikey=\"9T0dF-Mjq2fH8oePF_SEqPED-ndkMHynXOhrHPhxOPVE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":500,"wires":[["294cfa3d.2da696"]]},{"id":"294cfa3d.2da696","type":"http request","z":"485d19fe.af14a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":500,"wires":[["d1fdeb7.5dd6a18"]]},{"id":"d1fdeb7.5dd6a18","type":"function","z":"485d19fe.af14a8","name":"Pre Prediction","func":"var hum=global.get(\"humid\")\nvar temp=global.get(\"temp\")\nvar crop=global.get(\"crop\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"Temparature\",\"Humidity\",\"Moisture\",\"Soil Type\",\"Crop Type\",\"Nitrogen\",\"Potassium\",\"Phosphorous\"],\"values\":[[temp,hum,50,\"Loamy\",crop,12,18,19]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":500,"wires":[["a9047ec3.a2432"]]},{"id":"c5be67c4.14e458","type":"function","z":"485d19fe.af14a8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":500,"wires":[["5596aae7.611f84"]]},{"id":"a9047ec3.a2432","type":"http request","z":"485d19fe.af14a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/97a7aba5-440d-4e51-812b-48b3e13a6fbc/predictions?version=2021-06-17","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":500,"wires":[["c5be67c4.14e458"]]},{"id":"9e594402.c7b228","type":"inject","z":"485d19fe.af14a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":500,"wires":[["7f6674d5.d7da1c"]]},{"id":"df76d183.df91e","type":"comment","z":"485d19fe.af14a8","name":"Auto AI (fertiliser)","info":"","x":390,"y":420,"wires":[]},{"id":"f81c890e.591d38","type":"function","z":"39ec788.82c5d88","name":"","func":"global.set(\"crop\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":420,"wires":[[]]},{"id":"314eaf22.80f5b","type":"ui_form","z":"485d19fe.af14a8","name":"","label":"","group":"287647d3.cb15a8","order":14,"width":7,"height":1,"options":[{"label":"State","value":"State","type":"text","required":true,"rows":null},{"label":"District","value":"District","type":"text","required":true,"rows":null},{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Season","value":"Season","type":"text","required":true,"rows":null},{"label":"Crop","value":"Crop","type":"text","required":true,"rows":null},{"label":"Area","value":"Area","type":"number","required":true,"rows":null}],"formValue":{"State":"","District":"","Year":"","Season":"","Crop":"","Area":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":430,"y":200,"wires":[["d45f0b08.5ca408","4eea4a93.a9c234","d0f34b5d.532b48"]]},{"id":"4eea4a93.a9c234","type":"function","z":"485d19fe.af14a8","name":"","func":"global.set(\"state\",msg.payload.State);\nglobal.set(\"district\",msg.payload.District);\nglobal.set(\"year\",msg.payload.Year);\nglobal.set(\"season\",msg.payload.Season);\nglobal.set(\"crop\",msg.payload.Crop);\nglobal.set(\"area\",msg.payload.Area);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":140,"wires":[[]]},{"id":"d0f34b5d.532b48","type":"change","z":"485d19fe.af14a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":260,"wires":[["314eaf22.80f5b"]]},{"id":"77cb304c.07237","type":"ui_template","z":"4605b7bc.b8b4e8","group":"287647d3.cb15a8","name":"","order":22,"width":1,"height":1,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n  \n}\n\n\n\n\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1460,"y":60,"wires":[[]]},{"id":"f9fc110b.3bfe8","type":"watson-translator","z":"4605b7bc.b8b4e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":830,"y":200,"wires":[["9db3db1f.7b80b8"]]},{"id":"b3e2977e.f2d6a8","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"a\",\n       payload:msg.payload.a\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":120,"wires":[["f9fc110b.3bfe8"]]},{"id":"776d9cfd.3380c4","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    a: \"Hey, Farmer, Welcome back. Hope you are doing great just as your crop.\",\nb: \"According to our prediction it will be better to boost your crop healty production with the use of a firtiliser naming \",\nc: \"Our recommendation to plant the crop according to our analysis of your field condition is\",\nd:\"You can also check your crop yield by filling the below form with the details needed to let us predict about your crop production based on some previous data\",\nk: \"You planted \",\nl: \"on\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["b3e2977e.f2d6a8","ff2794ad.8558e8","47d4762a.8c9c68","39c9b303.3a521c","e31a57c0.f73288","550ba0d4.f7b42"]]},{"id":"2ee78fba.e2e17","type":"ui_dropdown","z":"4605b7bc.b8b4e8","name":"","label":"","tooltip":"","place":"Select your preferable language","group":"287647d3.cb15a8","order":1,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"HINDI","value":"hi","type":"str"},{"label":"BENGALI","value":"bn","type":"str"},{"label":"ENGLISH","value":"en","type":"str"},{"label":"Gujarati","value":"gu","type":"str"},{"label":"TELEGU","value":"te","type":"str"},{"label":"TAMIL","value":"ta","type":"str"},{"label":"Malayalam","value":"ml","type":"str"},{"label":"Urdu","value":"ur","type":"str"},{"label":"Nepali","value":"ne","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":110,"y":380,"wires":[["4b1de918.8230b8","bd54f917.9416b8"]]},{"id":"4b1de918.8230b8","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"global.set(\"lan\",msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":420,"wires":[[]]},{"id":"ff2794ad.8558e8","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"b\",\n       payload:msg.payload.b\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":160,"wires":[["52bb77c9.c8aff8"]]},{"id":"47d4762a.8c9c68","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"c\",\n       payload:msg.payload.c\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":200,"wires":[["57904e0b.e8892"]]},{"id":"39c9b303.3a521c","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"d\",\n       payload:msg.payload.d\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":240,"wires":[["82c6db10.58f9b8"]]},{"id":"52bb77c9.c8aff8","type":"watson-translator","z":"4605b7bc.b8b4e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":830,"y":240,"wires":[["18d758a4.8678b7"]]},{"id":"57904e0b.e8892","type":"watson-translator","z":"4605b7bc.b8b4e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":830,"y":280,"wires":[["e54aae52.87f4d"]]},{"id":"82c6db10.58f9b8","type":"watson-translator","z":"4605b7bc.b8b4e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":830,"y":320,"wires":[["31142b99.e23304"]]},{"id":"9db3db1f.7b80b8","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    a:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":200,"wires":[["bfa77920.03e6e8"]]},{"id":"18d758a4.8678b7","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    b:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":240,"wires":[["bfa77920.03e6e8"]]},{"id":"e54aae52.87f4d","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    c:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":280,"wires":[["bfa77920.03e6e8"]]},{"id":"31142b99.e23304","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    d:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":320,"wires":[["bfa77920.03e6e8"]]},{"id":"bfa77920.03e6e8","type":"join","z":"4605b7bc.b8b4e8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"1","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":320,"wires":[["58372ada.28c6a4","a54fb107.adc4c"]]},{"id":"bd54f917.9416b8","type":"switch","z":"4605b7bc.b8b4e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"neq","v":"en","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":380,"wires":[["f1f96966.a84318","59e3e54.107241c"],["776d9cfd.3380c4","a286fd95.de8ba","6a5bde15.4a1cb","618678ea.d472d8"]]},{"id":"f1f96966.a84318","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    a:{\n    a:    \"Hey, Farmer, Welcome back. Hope you are doing great just as your crop.\"\n    },\nb: {\n    \nb:    \"According to our prediction it will be better to boost your crop healty production with the use of a firtiliser naming \"\n\n}\n,\nc: \n{\n    c:\"Our recommendation to plant the crop according to our analysis of your cuurent field condition is\"\n\n},\nd:\n{\n    d: \"You can also check your crop yield by filling the below form with the details needed to let us predict about your crop production based on some previous data\"\n\n    \n},\nh:\n{\n    e:\n{\n    e: global.get(\"ferti\")\n},\nf:\n{\n    f: global.get(\"crop\")\n},\ng:\n{\n    g: global.get(\"crop_date\")\n},\nh:\n{\n    h: global.get(\"recom\")\n}\n},\n\nk:\n    {\n        k:\"You planted \"\n    },\nl:{\n    l: \"on\"\n},\nq:{\n    q: \"Today the chances of rain is\" \n    },\n    s:{\n        s: global.get(\"rainpre\")\n    }\n\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":480,"wires":[["58372ada.28c6a4","a54fb107.adc4c"]]},{"id":"58372ada.28c6a4","type":"ui_template","z":"4605b7bc.b8b4e8","group":"287647d3.cb15a8","name":"","order":2,"width":7,"height":9,"format":"<div>\n<font color=\"#FF8C00\",font size=\"4\"><b>{{msg.payload.a.a}}</b></font>\n<br>\n<br>\n<br>\n<font color=\"#FF8C00\",font size=\"4\"><b>{{msg.payload.k.k}}</b></font>\n<font color=\"#FFFFFF\",font size=\"4\"><b>\"{{msg.payload.h.f.f}}\"</b></font>\n<font color=\"#FF8C00\",font size=\"4\"><b>{{msg.payload.l.l}}</b></font>\n<font color=\"#FFFFFF\",font size=\"4\"><b>{{msg.payload.h.g.g}}</b></font>\n<br>\n<br>\n<br>\n<font color=\"#FF8C00\",font size=\"4\"><b>{{msg.payload.q.q}}-</b></font>\n<font color=\"#FFFFFF\",font size=\"4\"><b>\"{{msg.payload.s.s}}\"</b></font>\n<br>\n<br>\n<br>\n<font color=\"#FF8C00\",font size=\"4\"><b>{{msg.payload.b.b}}</b></font>\n<font color=\"#FFFFFF\",font size=\"4\"><b>\"{{msg.payload.h.e.e}}\"</b></font>\n<label></label>\n<br>\n<br>\n<br>\n<font color=\"#FF8C00\",font size=\"4\"><b>{{msg.payload.c.c}}</b></font> \n<font color=\"#FFFFFF\",font size=\"4\"><b>\"{{msg.payload.h.h.h}}\"</b></font>\n<label></label>   \n<br>\n<br>\n<br>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1480,"y":440,"wires":[[]]},{"id":"f8f458e3.26c328","type":"function","z":"39ec788.82c5d88","name":"","func":"global.set(\"crop_date\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":560,"wires":[[]]},{"id":"5596aae7.611f84","type":"function","z":"485d19fe.af14a8","name":"","func":"global.set(\"ferti\",msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":500,"wires":[[]]},{"id":"2d29d4c9.0dc29c","type":"function","z":"485d19fe.af14a8","name":"","func":"global.set(\"recom\",msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":360,"wires":[[]]},{"id":"f3527b90.1cd778","type":"function","z":"39ec788.82c5d88","name":"","func":"msg.payload=new Date(msg.payload).toDateString()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":520,"wires":[["f8f458e3.26c328"]]},{"id":"e31a57c0.f73288","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"k\",\n       payload:msg.payload.k\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["550fa3c6.e70fec"]]},{"id":"550ba0d4.f7b42","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"l\",\n       payload:msg.payload.l\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":320,"wires":[["aefce9ec.360678"]]},{"id":"550fa3c6.e70fec","type":"watson-translator","z":"4605b7bc.b8b4e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":830,"y":160,"wires":[["bc94034f.42ae4"]]},{"id":"aefce9ec.360678","type":"watson-translator","z":"4605b7bc.b8b4e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":830,"y":120,"wires":[["d0595a29.76f658"]]},{"id":"bc94034f.42ae4","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    k:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":160,"wires":[["bfa77920.03e6e8"]]},{"id":"d0595a29.76f658","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    l:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":120,"wires":[["bfa77920.03e6e8"]]},{"id":"a286fd95.de8ba","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    e:\n{\n    e: global.get(\"ferti\")\n},\nf:\n{\n    f: global.get(\"crop\")\n},\ng:\n{\n    g: global.get(\"crop_date\")\n},\nh:\n{\n    h: global.get(\"recom\")\n}\n}\nmsg ={\n       topic:\"h\",\n       payload:msg.payload\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":360,"wires":[["bfa77920.03e6e8"]]},{"id":"bd09ff22.a92ba","type":"function","z":"485d19fe.af14a8","name":"","func":"msg.payload=msg.payload.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":300,"wires":[["dc9178a1.70fb88"]]},{"id":"dc9178a1.70fb88","type":"ui_template","z":"485d19fe.af14a8","group":"287647d3.cb15a8","name":"","order":15,"width":7,"height":1,"format":"<center>\n\n<font color=\"#FF8C00\",font size=\"4\"><b>The production will be near about </b></font>\n\n<br>\n<font color=\"#FF8C00\",font size=\"4\"><b>{{msg.payload}} Kgs</b></font>\n</center>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1540,"y":300,"wires":[[]]},{"id":"ac0347d8.800288","type":"function","z":"485d19fe.af14a8","name":"","func":"global.set(\"rainpre\",msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":80,"wires":[[]]},{"id":"6a5bde15.4a1cb","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    q: \"Today the chances of rain is\" ,\n    s: global.get(\"rainpre\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":440,"wires":[["d4581d08.fb4d9","d839662e.a86f88"]]},{"id":"d4581d08.fb4d9","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"q\",\n       payload:msg.payload.q\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":360,"wires":[["42fea5fe.7a03bc"]]},{"id":"d839662e.a86f88","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"s\",\n       payload:msg.payload.s\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":400,"wires":[["8c445e0a.6cfe2"]]},{"id":"42fea5fe.7a03bc","type":"watson-translator","z":"4605b7bc.b8b4e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":830,"y":360,"wires":[["12f815b9.721a4a"]]},{"id":"8c445e0a.6cfe2","type":"watson-translator","z":"4605b7bc.b8b4e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":830,"y":400,"wires":[["1cda47fe.7b1508"]]},{"id":"12f815b9.721a4a","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    q:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":400,"wires":[["bfa77920.03e6e8"]]},{"id":"1cda47fe.7b1508","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload={\n    s:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":440,"wires":[["bfa77920.03e6e8"]]},{"id":"1360c91b.8bc247","type":"inject","z":"485d19fe.af14a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":80,"wires":[["7a7a7cf4.8bead4"]]},{"id":"271f5904.c39916","type":"ui_template","z":"93eb76b4.835158","group":"fe646028.d5a8e","name":"","order":32,"width":2,"height":1,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/1540005.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":260,"wires":[[]]},{"id":"a54fb107.adc4c","type":"ui_template","z":"4605b7bc.b8b4e8","group":"287647d3.cb15a8","name":"cropproduc","order":13,"width":7,"height":3,"format":"<div>\n<br>    \n<font color=\"#FF8C00\",font size=\"4\"><b>{{msg.payload.d.d}}</b></font>    \n    \n    \n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1470,"y":480,"wires":[[]]},{"id":"6ae74f87.c4fe2","type":"function","z":"f24c7c33.50e12","name":"","func":"global.set(\"weatherdes\",msg.payload.description);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":480,"wires":[[]]},{"id":"24a58c23.e71d14","type":"ui_text","z":"4605b7bc.b8b4e8","group":"287647d3.cb15a8","order":5,"width":7,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1450,"y":520,"wires":[]},{"id":"618678ea.d472d8","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"l\",\n       payload:global.get(\"weatherdes\")\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":520,"wires":[["6df9868b.b73758"]]},{"id":"59e3e54.107241c","type":"function","z":"4605b7bc.b8b4e8","name":"","func":"msg.payload=global.get(\"weatherdes\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":480,"wires":[["24a58c23.e71d14"]]},{"id":"6df9868b.b73758","type":"watson-translator","z":"4605b7bc.b8b4e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":830,"y":440,"wires":[["24a58c23.e71d14"]]},{"id":"6cd6737c.13cc0c","type":"ui_button","z":"56e59bbb.f2f284","name":"","group":"287647d3.cb15a8","order":16,"width":7,"height":1,"passthru":true,"label":"Take Picture","tooltip":"","color":"","bgcolor":"","icon":"fa-camera fa-2x","payload":"{\"camera\":\"1\"}","payloadType":"json","topic":"Camera","topicType":"str","x":110,"y":300,"wires":[["8e785b6.e656ca8"]]},{"id":"223a3ce8.4fb734","type":"ui_template","z":"56e59bbb.f2f284","group":"287647d3.cb15a8","name":"button czmre","order":17,"width":3,"height":7,"format":"<div>\n<font color=\"#FF8C00\"><b>Last Taken:</b></font>\n<br>    \n<font color=\"#FFFFFF\"><b>{{msg.payload.a}}</b></font>\n<br>    \n<font color=\"#FFFFFF\"><b>at {{msg.payload.b}} </b></font>\n<br>    \n\n<img width=\"150\" height=\"280\" src={{msg.payload.c}} alt='Image not found'  />\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":260,"wires":[[]]},{"id":"1fcccba4.6b3c84","type":"function","z":"93eb76b4.835158","name":"","func":"global.set(\"moist\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":200,"wires":[[]]},{"id":"8f72865.b495678","type":"function","z":"93eb76b4.835158","name":"","func":"global.set(\"led\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":240,"wires":[[]]},{"id":"60c16578.5d30dc","type":"function","z":"93eb76b4.835158","name":"","func":"global.set(\"ra_in\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":320,"wires":[[]]},{"id":"e3e5fffa.bf2aa","type":"function","z":"93eb76b4.835158","name":"PH","func":"msg.payload=msg.payload.PH\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":360,"wires":[["a8f34ed1.149bc","853890d3.dcc65"]]},{"id":"703820f2.7a34c","type":"function","z":"93eb76b4.835158","name":"GAS","func":"msg.payload=msg.payload.Gas\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":400,"wires":[["125a6ed2.dc4f61"]]},{"id":"b878184f.cef6f8","type":"function","z":"93eb76b4.835158","name":"Water-temp","func":"msg.payload=msg.payload.Water_Temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["84c7131d.41864","5d4f1503.3bc76c"]]},{"id":"3d333f7f.41c2b","type":"inject","z":"575e5a7b.0cfc04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["1575fbc1.9d1ae4","f905c55b.262ea8","531a4de0.7617c4","1fd9fa59.f3abf6","515e88e5.d1c538","718ad747.0b4438"]]},{"id":"1575fbc1.9d1ae4","type":"function","z":"575e5a7b.0cfc04","name":"Temperature","func":"msg.payload=global.get(\"t\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["fa8b29c9.ee4328"]]},{"id":"84c7131d.41864","type":"function","z":"93eb76b4.835158","name":"","func":"global.set(\"water_temp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":440,"wires":[[]]},{"id":"f905c55b.262ea8","type":"function","z":"575e5a7b.0cfc04","name":"Moisture","func":"msg.payload=global.get(\"moist\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":380,"wires":[["83f3494c.3e2798"]]},{"id":"531a4de0.7617c4","type":"function","z":"575e5a7b.0cfc04","name":"Light","func":"msg.payload=global.get(\"led\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":300,"wires":[["65da817b.3fa83"]]},{"id":"1fd9fa59.f3abf6","type":"function","z":"575e5a7b.0cfc04","name":"Water-temp","func":"msg.payload=global.get(\"water_temp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":540,"wires":[["97a9b5ed.455758"]]},{"id":"acfa70c2.a0121","type":"switch","z":"575e5a7b.0cfc04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":730,"y":120,"wires":[["6061658.44a789c","9afdfdc6.b9d2c"],["49da8029.de475","d55f14ac.b7b4e8"],["3fe42c26.45ff04","556a091d.b56e08"]]},{"id":"83f3494c.3e2798","type":"switch","z":"575e5a7b.0cfc04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"num"},{"t":"lte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":380,"wires":[["fef7d3b3.26852"],["c62957cc.32d768"]]},{"id":"65da817b.3fa83","type":"switch","z":"575e5a7b.0cfc04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"32","vt":"num"},{"t":"lte","v":"31","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":300,"wires":[["8fb6c45c.dfa7e8"],["a900c56f.0ce5c8"]]},{"id":"c603f321.a677","type":"switch","z":"575e5a7b.0cfc04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":540,"wires":[["743ea6ea.922118","b4cabe6f.3dfcc"],["8f2bfc8b.62aa8","db759859.3c92e8"],["c5eb78b1.859438","7e681e36.26e79"]]},{"id":"6061658.44a789c","type":"function","z":"575e5a7b.0cfc04","name":"Cooling system","func":"msg.payload=1\nmsg.topic=\"Cooling-System\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":80,"wires":[["49b5d10e.3f4b2"]]},{"id":"49da8029.de475","type":"function","z":"575e5a7b.0cfc04","name":"Heater","func":"msg.payload=1\nmsg.topic=\"Heater\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":120,"wires":[["49b5d10e.3f4b2"]]},{"id":"a8f34ed1.149bc","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n     \"options\":\n     {\"pointer\":true,\"gaugeWidthScale\":0.1}\n         \n     \n\n}","output":"json","x":720,"y":340,"wires":[["6f27aeb7.cdd63"]]},{"id":"2835a866.f31398","type":"ui_artlessgauge","z":"93eb76b4.835158","group":"fe646028.d5a8e","order":1,"width":3,"height":3,"name":"Temperature","icon":"fa-thermometer-half","label":"Temperature","unit":"C","layout":"radial","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":-20,"col":"#df111f","t":"min","dot":1},{"val":20,"col":"#d9fb32","t":"sec","dot":0},{"val":25,"col":"#e1f35e","t":"sec","dot":0},{"val":34,"col":"#4ba01c","t":"sec","dot":0},{"val":40,"col":"#d1df11","t":"sec","dot":0},{"val":45,"col":"#dd1d2a","t":"sec","dot":0},{"val":100,"col":"#dd1d2a","t":"max","dot":1}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":930,"y":100,"wires":[]},{"id":"5d4f1503.3bc76c","type":"ui_artlessgauge","z":"93eb76b4.835158","group":"fe646028.d5a8e","order":5,"width":3,"height":3,"name":"Water-Temperature","icon":"fa-thermometer-half","label":"Water-Temp","unit":"C","layout":"radial","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":100,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":870,"y":420,"wires":[]},{"id":"30a21da3.1afc92","type":"function","z":"93eb76b4.835158","name":"water tank %","func":"msg.payload=msg.payload.Water_Tank\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":500,"wires":[["67567a19.dfb504","de8121f7.5904e"]]},{"id":"6544f4c1.1be7dc","type":"ui_gauge","z":"93eb76b4.835158","name":"","group":"fe646028.d5a8e","order":8,"width":2,"height":2,"gtype":"donut","title":"Gas","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":380,"wires":[]},{"id":"42b8d6d1.fc68e8","type":"ui_template","z":"af4494e5.25bb18","group":"287647d3.cb15a8","name":"Logo / Clock","order":20,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'https://i.postimg.cc/Fzsr0zck/greenhouse.png'\n        logo.height = 50;\n        div1[0].style.margin = 'auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '10px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            //toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":370,"y":100,"wires":[[]]},{"id":"d8b51a.4260eae8","type":"ui_gauge","z":"93eb76b4.835158","name":"","group":"fe646028.d5a8e","order":7,"width":2,"height":2,"gtype":"donut","title":"Power","label":"WH","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":520,"wires":[]},{"id":"3f786ac9.6676c6","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n     \"options\":\n     {\"pointer\":true,\"gaugeWidthScale\":0.1}\n         \n     \n\n}","output":"json","x":720,"y":300,"wires":[["1b255ee4.8b8a81"]]},{"id":"59dd87dc.4e1d58","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n     \"options\":\n     {\"pointer\":true,\"gaugeWidthScale\":0.1}\n         \n     \n\n}","output":"json","x":720,"y":260,"wires":[["f6b03be7.82c358"]]},{"id":"30af7a4.3f9bf86","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n     \"options\":\n     {\"pointer\":true,\"gaugeWidthScale\":0.1}\n         \n     \n\n}","output":"json","x":720,"y":220,"wires":[["b91c72c1.ce792"]]},{"id":"4a99ff2f.4704b","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n     \"options\":\n     {\"pointer\":true,\"gaugeWidthScale\":0.1}\n         \n     \n\n}","output":"json","x":720,"y":180,"wires":[["35497ad0.dbd9e6"]]},{"id":"68811dfa.1d82b4","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n     \"options\":\n     {\"pointer\":true,\"gaugeWidthScale\":0.1}\n         \n     \n\n}","output":"json","x":720,"y":140,"wires":[["cdde0f5a.9ed05"]]},{"id":"71997056.409ab","type":"function","z":"93eb76b4.835158","name":"power","func":"msg.payload=msg.payload.power\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":580,"wires":[["f69a257a.cb3b78"]]},{"id":"f69a257a.cb3b78","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n     \"options\":\n     {\"pointer\":true,\"gaugeWidthScale\":0.1}\n         \n     \n\n}","output":"json","x":720,"y":580,"wires":[["d8b51a.4260eae8"]]},{"id":"125a6ed2.dc4f61","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n     \"options\":\n     {\"pointer\":true,\"gaugeWidthScale\":0.1}\n         \n     \n\n}","output":"json","x":720,"y":380,"wires":[["6544f4c1.1be7dc"]]},{"id":"67567a19.dfb504","type":"switch","z":"93eb76b4.835158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"num"},{"t":"gte","v":"20","vt":"num"},{"t":"gte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":500,"wires":[["54bca7e7.1b76e8"],["9cacb211.e8e37"],["c0d297c3.6cb748"]]},{"id":"c0d297c3.6cb748","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"options\":\n   { \n       \"waveColor\":\"#005780\",\n       \"waveCount\":2,\n       \"circleColor\":\"#FFFFFF\",\n       \"waveAnimateTime\" : 1000\n\n       \n}\n\n}","output":"json","x":720,"y":460,"wires":[["f5eac07b.ff788"]]},{"id":"54bca7e7.1b76e8","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"options\":\n   { \n       \"waveColor\":\"#ff0000\",\n       \"waveCount\":2,\n       \"circleColor\":\"#FFFFFF\",\n       \"waveAnimateTime\" : 1000\n\n       \n}\n\n}","output":"json","x":720,"y":500,"wires":[["f5eac07b.ff788"]]},{"id":"9cacb211.e8e37","type":"template","z":"93eb76b4.835158","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"options\":\n   { \n       \"waveColor\":\"#FFFF00\",\n       \"waveCount\":2,\n       \"circleColor\":\"#FFFFFF\",\n       \"waveAnimateTime\" : 1000\n\n       \n}\n\n}","output":"json","x":720,"y":540,"wires":[["f5eac07b.ff788"]]},{"id":"f5eac07b.ff788","type":"ui_gauge","z":"93eb76b4.835158","name":"","group":"fe646028.d5a8e","order":3,"width":0,"height":0,"gtype":"wave","title":"Tank","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":460,"wires":[]},{"id":"ab3ecd7f.78f4b","type":"change","z":"56e59bbb.f2f284","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[["2a310194.a52ece"]]},{"id":"9ba33964.dda2a8","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg.payload={\n    \"imageurl\":msg.payload,\n    \"time\":     new Date().getTime()\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":240,"wires":[["ab3ecd7f.78f4b","138187a9.fac318"]]},{"id":"de8121f7.5904e","type":"function","z":"93eb76b4.835158","name":"","func":"global.set(\"wa_ter_tank\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":480,"wires":[[]]},{"id":"855df255.2737e","type":"ui_switch","z":"575e5a7b.0cfc04","name":"","label":"<font color=\"#CF055E\" size=\"4\"><b>Autonomous-Mode</b></font>","tooltip":"","group":"fe646028.d5a8e","order":14,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-3x fa-toggle-on","oncolor":"#90DC0C","offvalue":"0","offvalueType":"num","officon":"fa-3x fa-toggle-off","offcolor":"grey","animate":false,"x":1310,"y":40,"wires":[["7b667296.78a34c","5944d1d0.8c54e"]]},{"id":"7b667296.78a34c","type":"function","z":"575e5a7b.0cfc04","name":"","func":"global.set(\"button\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":200,"wires":[[]]},{"id":"c2c2fc75.e8bd9","type":"ui_led","z":"575e5a7b.0cfc04","order":27,"group":"fe646028.d5a8e","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#85ff85","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Submersible pump","x":1630,"y":1160,"wires":[]},{"id":"717783a7.e0381c","type":"ui_led","z":"575e5a7b.0cfc04","order":16,"group":"fe646028.d5a8e","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#85ff85","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Watering pump","x":1640,"y":1120,"wires":[]},{"id":"cad004f2.ff75b8","type":"ui_led","z":"575e5a7b.0cfc04","order":29,"group":"fe646028.d5a8e","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#85ff85","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Cooler","x":1650,"y":1080,"wires":[]},{"id":"adfdc22d.06337","type":"ui_led","z":"575e5a7b.0cfc04","order":18,"group":"fe646028.d5a8e","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#85ff85","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Led Lights","x":1930,"y":1160,"wires":[]},{"id":"b429efa6.540b9","type":"ui_led","z":"575e5a7b.0cfc04","order":22,"group":"fe646028.d5a8e","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#85ff85","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Roof","x":1790,"y":1160,"wires":[]},{"id":"df7e4d8d.755b3","type":"ui_led","z":"575e5a7b.0cfc04","order":25,"group":"fe646028.d5a8e","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#16cdda","value":"2","valueType":"num"},{"color":"#e5992e","value":"3","valueType":"num"},{"color":"#572929","value":"4","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Water Cooling/Heating system","x":1990,"y":1120,"wires":[]},{"id":"83b2c5d2.46f1f8","type":"ui_led","z":"575e5a7b.0cfc04","order":20,"group":"fe646028.d5a8e","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#85ff85","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Heater","x":1790,"y":1120,"wires":[]},{"id":"b1981d53.59794","type":"ui_switch","z":"575e5a7b.0cfc04","name":"","label":"<font color=\"#FF8C00\" size=\"3\"><b>Cooler:</b></font>","tooltip":"","group":"fe646028.d5a8e","order":28,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Cooling-System","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-2x fa-toggle-on","oncolor":"#DCAC0C","offvalue":"0","offvalueType":"num","officon":"fa-2x fa-toggle-off","offcolor":"grey","animate":false,"x":1950,"y":140,"wires":[["b9a4894.fbe0c78"]]},{"id":"5f3abe75.016e3","type":"ui_switch","z":"575e5a7b.0cfc04","name":"","label":"<font color=\"#FF8C00\" size=\"3\"><b>LED:</b></font>","tooltip":"","group":"fe646028.d5a8e","order":17,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Led","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-2x fa-toggle-on","oncolor":"#DCAC0C","offvalue":"0","offvalueType":"num","officon":"fa-2x fa-toggle-off","offcolor":"grey","animate":false,"x":1940,"y":180,"wires":[["b9a4894.fbe0c78"]]},{"id":"672d0713.b879d8","type":"ui_switch","z":"575e5a7b.0cfc04","name":"","label":"<font color=\"#FF8C00\" size=\"3\"><b>Heater:</b></font>","tooltip":"","group":"fe646028.d5a8e","order":19,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Heater","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-2x fa-toggle-on","oncolor":"#DCAC0C","offvalue":"0","offvalueType":"num","officon":"fa-2x fa-toggle-off","offcolor":"grey","animate":false,"x":1950,"y":220,"wires":[["b9a4894.fbe0c78"]]},{"id":"a02caa39.992c58","type":"ui_switch","z":"575e5a7b.0cfc04","name":"","label":"<font color=\"#FF8C00\" size=\"3\"><b>Field-Pump:</b></font>","tooltip":"","group":"fe646028.d5a8e","order":15,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Field Pump","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-2x fa-toggle-on","oncolor":"#DCAC0C","offvalue":"0","offvalueType":"num","officon":"fa-2x fa-toggle-off","offcolor":"grey","animate":false,"x":1970,"y":260,"wires":[["b9a4894.fbe0c78"]]},{"id":"1fe188c9.809ff7","type":"ui_switch","z":"575e5a7b.0cfc04","name":"","label":"<font color=\"#FF8C00\" size=\"3\"><b>Main-Pump:</b></font>","tooltip":"","group":"fe646028.d5a8e","order":26,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Submersible pump","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-2x fa-toggle-on","oncolor":"#DCAC0C","offvalue":"0","offvalueType":"num","officon":"fa-2x fa-toggle-off","offcolor":"grey","animate":false,"x":1970,"y":300,"wires":[["b9a4894.fbe0c78"]]},{"id":"8214a47c.319e28","type":"ui_switch","z":"575e5a7b.0cfc04","name":"","label":"<font color=\"#FF8C00\" size=\"3\"><b>Water-Cooler:</b></font>","tooltip":"","group":"fe646028.d5a8e","order":23,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Water Cooler","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-2x fa-toggle-on","oncolor":"#DCAC0C","offvalue":"0","offvalueType":"num","officon":"fa-2x fa-toggle-off","offcolor":"grey","animate":false,"x":1970,"y":340,"wires":[["b9a4894.fbe0c78"]]},{"id":"1cbff503.786edb","type":"ui_switch","z":"575e5a7b.0cfc04","name":"","label":"<font color=\"#FF8C00\" size=\"3\"><b>Water-Heater:</b></font>","tooltip":"","group":"fe646028.d5a8e","order":24,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Water Heater","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-2x fa-toggle-on","oncolor":"#DCAC0C","offvalue":"0","offvalueType":"num","officon":"fa-2x fa-toggle-off","offcolor":"grey","animate":false,"x":1970,"y":380,"wires":[["b9a4894.fbe0c78"]]},{"id":"1a9d8c6f.bbf914","type":"template","z":"575e5a7b.0cfc04","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<font color=\"#CF055E\"><i class=\"fa fa-cog fa-spin fa-3x fa-fw\"></i></font>\n<span class=\"sr-only\">Loading...</span>","output":"str","x":1480,"y":80,"wires":[["f702e6b.8f5d218"]]},{"id":"f702e6b.8f5d218","type":"ui_text","z":"575e5a7b.0cfc04","group":"fe646028.d5a8e","order":13,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1630,"y":100,"wires":[]},{"id":"4163449.91d78bc","type":"template","z":"575e5a7b.0cfc04","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<font color=\"#CF055E\"><i class=\"fa fa-cog fa-3x fa-fw\" aria-hidden=\"true\"></i>","output":"str","x":1480,"y":120,"wires":[["f702e6b.8f5d218"]]},{"id":"5944d1d0.8c54e","type":"switch","z":"575e5a7b.0cfc04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":100,"wires":[["1a9d8c6f.bbf914"],["4163449.91d78bc"]]},{"id":"24028898.819d38","type":"function","z":"575e5a7b.0cfc04","name":"","func":"global.set(\"device\",msg.payload)\nmsg.payload=global.get(\"button\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2500,"y":300,"wires":[["db4d6cb5.971b1"]]},{"id":"db4d6cb5.971b1","type":"switch","z":"575e5a7b.0cfc04","name":"Autonomous checking","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2640,"y":160,"wires":[["efce9f93.6cf6d"],["33d0a7f5.88abc8"]]},{"id":"efce9f93.6cf6d","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=\"Please turn of the autonomous mode first!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2840,"y":120,"wires":[[]]},{"id":"ed37cde9.5c287","type":"debug","z":"575e5a7b.0cfc04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2790,"y":600,"wires":[]},{"id":"b9a4894.fbe0c78","type":"join","z":"575e5a7b.0cfc04","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2370,"y":300,"wires":[["24028898.819d38"]]},{"id":"19244ef1.6b69b1","type":"inject","z":"575e5a7b.0cfc04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1530,"y":260,"wires":[["b1981d53.59794","5f3abe75.016e3","672d0713.b879d8","a02caa39.992c58","1fe188c9.809ff7","8214a47c.319e28","1cbff503.786edb","c1f22744.4c34d8"]]},{"id":"33d0a7f5.88abc8","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=global.get(\"device\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":280,"wires":[["ed37cde9.5c287","b17c1080.1f3bf","3ebf54ab.b0f59c","b5305dd5.d31e1","f999f09.1e0d91","533473a4.bef87c","b0909eda.4fe2f","98ebc0f7.05cd2","28e1a56.e812a5a"]]},{"id":"515e88e5.d1c538","type":"function","z":"575e5a7b.0cfc04","name":"water-tank","func":"msg.payload=global.get(\"wa_ter_tank\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":720,"wires":[["dead1100.718a7"]]},{"id":"3257ff63.eb5de","type":"switch","z":"575e5a7b.0cfc04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":720,"wires":[["be0eb781.d2bbb8"],["9ac35dc9.ff077"]]},{"id":"a900c56f.0ce5c8","type":"function","z":"575e5a7b.0cfc04","name":"led on","func":"msg.payload=1\nmsg.topic=\"Led\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":320,"wires":[["49b5d10e.3f4b2"]]},{"id":"8fb6c45c.dfa7e8","type":"function","z":"575e5a7b.0cfc04","name":"led off","func":"msg.payload=0\nmsg.topic=\"Led\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":280,"wires":[["49b5d10e.3f4b2"]]},{"id":"fef7d3b3.26852","type":"function","z":"575e5a7b.0cfc04","name":"off","func":"msg.payload=0\nmsg.topic=\"Field Pump\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":360,"wires":[["49b5d10e.3f4b2"]]},{"id":"c62957cc.32d768","type":"function","z":"575e5a7b.0cfc04","name":"on","func":"msg.payload=1\nmsg.topic=\"Field Pump\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":400,"wires":[["49b5d10e.3f4b2"]]},{"id":"743ea6ea.922118","type":"function","z":"575e5a7b.0cfc04","name":"Water Heater","func":"msg.payload=0\nmsg.topic=\"Water Heater\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":440,"wires":[["49b5d10e.3f4b2"]]},{"id":"8f2bfc8b.62aa8","type":"function","z":"575e5a7b.0cfc04","name":"Water Heater","func":"msg.payload=1\nmsg.topic=\"Water Heater\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":520,"wires":[["49b5d10e.3f4b2"]]},{"id":"be0eb781.d2bbb8","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=1\nmsg.topic=\"Submersible pump\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":700,"wires":[["49b5d10e.3f4b2"]]},{"id":"9ac35dc9.ff077","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=0\nmsg.topic=\"Submersible pump\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":740,"wires":[["49b5d10e.3f4b2"]]},{"id":"c1f22744.4c34d8","type":"ui_switch","z":"575e5a7b.0cfc04","name":"","label":"<font color=\"#FF8C00\" size=\"3\"><b>Roof:</b></font>","tooltip":"","group":"fe646028.d5a8e","order":21,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Roof","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-2x fa-toggle-on","oncolor":"#DCAC0C","offvalue":"0","offvalueType":"num","officon":"fa-2x fa-toggle-off","offcolor":"grey","animate":false,"x":1950,"y":420,"wires":[["b9a4894.fbe0c78"]]},{"id":"db6539d4.310078","type":"function","z":"575e5a7b.0cfc04","name":"Roof condition","func":"var rain=global.get(\"ra_in\")\nvar moisture=global.get(\"moist\")\nvar temperature=global.get(\"t\")\nvar light=global.get(\"led\")\nif(rain>=20 && moisture<50)\n{\n    msg.payload=1\n}\nelse if (light<50 && temperature>=22 && moisture>=50)\n{\n    msg.payload=1\n}\nelse\n{\n    msg.payload=0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":840,"wires":[["d7bd5789.9fd328"]]},{"id":"49b5d10e.3f4b2","type":"join","z":"575e5a7b.0cfc04","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1230,"y":400,"wires":[["f0b90463.74b5e8"]]},{"id":"db759859.3c92e8","type":"function","z":"575e5a7b.0cfc04","name":"Water Cooler","func":"msg.payload=0\nmsg.topic=\"Water Cooler\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":560,"wires":[["49b5d10e.3f4b2"]]},{"id":"b4cabe6f.3dfcc","type":"function","z":"575e5a7b.0cfc04","name":"Water Cooler","func":"msg.payload=1\nmsg.topic=\"Water Cooler\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":480,"wires":[["49b5d10e.3f4b2"]]},{"id":"9afdfdc6.b9d2c","type":"function","z":"575e5a7b.0cfc04","name":"Heater ","func":"msg.payload=0\nmsg.topic=\"Heater\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":40,"wires":[["49b5d10e.3f4b2"]]},{"id":"d55f14ac.b7b4e8","type":"function","z":"575e5a7b.0cfc04","name":"Cooling system ","func":"msg.payload=0\nmsg.topic=\"Cooling-System\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":160,"wires":[["49b5d10e.3f4b2"]]},{"id":"97a9b5ed.455758","type":"function","z":"575e5a7b.0cfc04","name":"water temperature checking","func":"if (msg.payload>=38)\n{\n    msg.payload=1\n}\nelse if(msg.payload<=18)\n{\n    msg.payload=2\n}\nelse\n{\n    msg.payload=3\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":540,"wires":[["c603f321.a677"]]},{"id":"c5eb78b1.859438","type":"function","z":"575e5a7b.0cfc04","name":"Water Heater","func":"msg.payload=0\nmsg.topic=\"Water Heater\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":600,"wires":[["49b5d10e.3f4b2"]]},{"id":"7e681e36.26e79","type":"function","z":"575e5a7b.0cfc04","name":"Water Cooler","func":"msg.payload=0\nmsg.topic=\"Water Cooler\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":640,"wires":[["49b5d10e.3f4b2"]]},{"id":"fa8b29c9.ee4328","type":"function","z":"575e5a7b.0cfc04","name":"temperature checking","func":"if (msg.payload>=32)\n{\n    msg.payload=1\n}\nelse if(msg.payload<=22)\n{\n    msg.payload=2\n}\nelse\n{\n    msg.payload=3\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":120,"wires":[["acfa70c2.a0121"]]},{"id":"3fe42c26.45ff04","type":"function","z":"575e5a7b.0cfc04","name":"Heater","func":"msg.payload=0\n\nmsg.topic=\"Heater\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":200,"wires":[["49b5d10e.3f4b2"]]},{"id":"556a091d.b56e08","type":"function","z":"575e5a7b.0cfc04","name":"Cooling system ","func":"msg.payload=0\nmsg.topic=\"Cooling-System\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":240,"wires":[["49b5d10e.3f4b2"]]},{"id":"718ad747.0b4438","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=global.get(\"ra_in\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":840,"wires":[["db6539d4.310078"]]},{"id":"d7bd5789.9fd328","type":"switch","z":"575e5a7b.0cfc04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":840,"wires":[["4823eecf.13d13"],["6b1820e1.96e48"]]},{"id":"4823eecf.13d13","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=0\nmsg.topic=\"Roof\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":820,"wires":[["49b5d10e.3f4b2"]]},{"id":"6b1820e1.96e48","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=1\nmsg.topic=\"Roof\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":860,"wires":[["49b5d10e.3f4b2"]]},{"id":"f0b90463.74b5e8","type":"function","z":"575e5a7b.0cfc04","name":"","func":"global.set(\"device_1\",msg.payload)\nmsg.payload=global.get(\"button\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":620,"wires":[["ea95b8d9.b6c668"]]},{"id":"ea95b8d9.b6c668","type":"switch","z":"575e5a7b.0cfc04","name":"Autonomous checking","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1720,"y":620,"wires":[["26ad7e5d.921652"],[]]},{"id":"26ad7e5d.921652","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=global.get(\"device_1\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":620,"wires":[["c2021cdb.02e3","b17c1080.1f3bf","3ebf54ab.b0f59c","b5305dd5.d31e1","f999f09.1e0d91","533473a4.bef87c","b0909eda.4fe2f","98ebc0f7.05cd2","28e1a56.e812a5a"]]},{"id":"c2021cdb.02e3","type":"debug","z":"575e5a7b.0cfc04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2250,"y":720,"wires":[]},{"id":"b17c1080.1f3bf","type":"ibmiot out","z":"575e5a7b.0cfc04","authentication":"apiKey","apiKey":"2f3d281a.f39998","outputType":"cmd","deviceId":"12345","deviceType":"New","eventCommandType":"device_sensor","format":"json","data":"sensor","qos":0,"name":"IBM IoT","service":"registered","x":2600,"y":700,"wires":[]},{"id":"9302141d.6b59f8","type":"function","z":"93eb76b4.835158","name":"","func":"global.set(\"hu_mi_di\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":160,"wires":[[]]},{"id":"853890d3.dcc65","type":"function","z":"93eb76b4.835158","name":"","func":"global.set(\"P_H\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":360,"wires":[[]]},{"id":"6382f9ca.045088","type":"ui_text","z":"575e5a7b.0cfc04","group":"fe646028.d5a8e","order":12,"width":6,"height":1,"name":"","label":"","format":"\"Please turn of the autonomous mode before handling manually\"","layout":"col-center","x":1550,"y":300,"wires":[]},{"id":"87eeedbf.df5b7","type":"inject","z":"56e59bbb.f2f284","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":340,"wires":[["b1db9ffc.793b6","8e785b6.e656ca8"]]},{"id":"b1db9ffc.793b6","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg.payload=global.get(\"alarm\")\nmsg.topic=\"alarm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":320,"wires":[["18bcddd8.2f1212"]]},{"id":"18bcddd8.2f1212","type":"join","z":"56e59bbb.f2f284","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"1","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":340,"wires":[["bb0d32d4.8e64d"]]},{"id":"bb0d32d4.8e64d","type":"ibmiot out","z":"56e59bbb.f2f284","authentication":"apiKey","apiKey":"2f3d281a.f39998","outputType":"cmd","deviceId":"rasp","deviceType":"Cam_Noti","eventCommandType":"camera","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":340,"wires":[]},{"id":"8e785b6.e656ca8","type":"function","z":"56e59bbb.f2f284","name":"","func":"if(msg.payload.camera==1)\n{\n    msg.payload=1\n}\nelse\n{\n    msg.payload=0\n}\nmsg.topic='camera'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":360,"wires":[["18bcddd8.2f1212"]]},{"id":"26ed7c0.b3be484","type":"function","z":"56e59bbb.f2f284","name":"","func":"var a=\"https://agnobucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/\"\nvar b=msg.payload.URL\nglobal.set(\"pho\",b)\nmsg.payload=a+b\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["9ba33964.dda2a8"]]},{"id":"f0913382.2051","type":"ibmiot in","z":"56e59bbb.f2f284","authentication":"apiKey","apiKey":"390a167f.acf79a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"rasp","applicationId":"","deviceType":"Cam_Noti","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":240,"wires":[["26ed7c0.b3be484"]]},{"id":"7cd30cc4.1a22a4","type":"function","z":"39ec788.82c5d88","name":"","func":"global.set(\"noti_fi\",msg.payload)\nmsg.payload=msg.payload\nmsg.topic=\"Noti_fi\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":160,"wires":[["c71e8ec0.13361"]]},{"id":"c71e8ec0.13361","type":"join","z":"39ec788.82c5d88","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"1","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1200,"y":400,"wires":[["ed7a30bb.a4bf5"]]},{"id":"42db6201.b2e11c","type":"inject","z":"39ec788.82c5d88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":760,"wires":[["fa136cdc.4f34a"]]},{"id":"fa136cdc.4f34a","type":"function","z":"39ec788.82c5d88","name":"","func":"msg.payload=global.get(\"alarm\")\nmsg.topic=\"Alarm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":760,"wires":[["c71e8ec0.13361"]]},{"id":"dead1100.718a7","type":"function","z":"575e5a7b.0cfc04","name":"","func":"var t=msg.payload\n\nif(t<16)\n{\n    msg.payload=1\n}\nif(t>50)\n{\n    msg.payload=0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":720,"wires":[["3257ff63.eb5de"]]},{"id":"593546ae.e94b48","type":"comment","z":"575e5a7b.0cfc04","name":"AUTONOMOUS ","info":"","x":470,"y":220,"wires":[]},{"id":"bbaff11.fb2241","type":"comment","z":"575e5a7b.0cfc04","name":"MANUAL ","info":"","x":2340,"y":200,"wires":[]},{"id":"6d2cb6aa.171748","type":"comment","z":"575e5a7b.0cfc04","name":"AUTONOMOUS-SWITCH","info":"","x":1590,"y":20,"wires":[]},{"id":"61f97258.af751c","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg.payload = msg.result.images[0].classifiers[0].classes\nmsg.payload=(msg.payload[0].score) * 100\nmsg.payload=msg.payload.toFixed(2)\nglobal.set(\"scr\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":180,"wires":[[]]},{"id":"138187a9.fac318","type":"function","z":"56e59bbb.f2f284","name":"","func":"var d=msg.payload.time\n\nd=new Date(d).toDateString()\n\nvar b= global.get(\"pho\")\nb=b.slice(9,17)\nb=b.split(\"-\")\nb=b.join(\":\")\n\nmsg.payload={\n    \n    \"a\": d,\n    \"b\": b,\n    \"c\": msg.payload.imageurl\n    \n}\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":260,"wires":[["223a3ce8.4fb734"]]},{"id":"dae740c9.50a64","type":"debug","z":"39ec788.82c5d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":480,"wires":[]},{"id":"4095231d.b4227c","type":"function","z":"56e59bbb.f2f284","name":"","func":"global.set(\"plntprdctn\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":240,"wires":[[]]},{"id":"f5b800e9.49d74","type":"watson-translator","z":"56e59bbb.f2f284","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":1630,"y":220,"wires":[["dd5a3ad7.2c33e8"]]},{"id":"a177945.c0f6268","type":"watson-translator","z":"56e59bbb.f2f284","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"gu","password":"Ayanghosh974@","apikey":"32zbxtLhg0viNi09t_h2qE7_GIf5grGqav5WvpUYQ-q7","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"gu","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/092b5869-3057-4bc7-9fcf-ad892f26350f","x":1630,"y":180,"wires":[["dd5a3ad7.2c33e8"]]},{"id":"e8579dfc.e75ee","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg.payload=global.get(\"lan\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":200,"wires":[["5280f666.4f9ec8"]]},{"id":"5280f666.4f9ec8","type":"switch","z":"56e59bbb.f2f284","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"neq","v":"en","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":220,"wires":[["d27ea60.b6d0358"],["3516d21e.5c0b8e"]]},{"id":"d27ea60.b6d0358","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg.payload=global.get(\"plntprdctn\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":240,"wires":[["d7affbac.905ac8"]]},{"id":"3516d21e.5c0b8e","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg.payload=global.get(\"plntprdctn\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":200,"wires":[["9c76213f.96167","61969992.8ae5a8","a92e3ca9.f4c79","c62bc6a8.31fd08"]]},{"id":"9c76213f.96167","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"c\",\n       payload:msg.payload.c\n    } ;\nreturn msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":160,"wires":[["f5b800e9.49d74"]]},{"id":"61969992.8ae5a8","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg = {\n       srclang:\"en\",\n       destlang:global.get(\"lan\"),\n       topic:\"b\",\n       payload:msg.payload.b\n    } ;\nreturn msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":320,"wires":[["a177945.c0f6268"]]},{"id":"a92e3ca9.f4c79","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg = {\n       topic:\"a\",\n       payload:msg.payload.a\n    } ;\nreturn msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":120,"wires":[["dd5a3ad7.2c33e8"]]},{"id":"c62bc6a8.31fd08","type":"function","z":"56e59bbb.f2f284","name":"","func":"msg = {\n       topic:\"d\",\n       payload:msg.payload.d\n    } ;\nreturn msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":280,"wires":[["dd5a3ad7.2c33e8"]]},{"id":"dd5a3ad7.2c33e8","type":"join","z":"56e59bbb.f2f284","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1810,"y":200,"wires":[["d7affbac.905ac8"]]},{"id":"d7affbac.905ac8","type":"ui_template","z":"56e59bbb.f2f284","group":"287647d3.cb15a8","name":"result","order":19,"width":7,"height":8,"format":"<div>\n<font color=\"#FF8C00\", font size=\"4\" ><b>Possibilities:</b></font>\n<font color=\"#FFFFFF\", font size=\"4\" ><b>{{msg.payload.d}}%</b></font>\n<br>\n<br>\n<font color=\"#FF8C00\" , font size=\"4\" ><b>Disease:</b></font>\n<font color=\"#FFFFFF\", font size=\"4\"  ><b>{{msg.payload.a}}</b></font>   \n<br>\n<br>\n<font color=\"#FF8C00\" , font size=\"4\" ><b>Details:</b></font>\n<font color=\"#FFFFFF\" , font size=\"4\" ><b>{{msg.payload.b}}</b></font> \n<br>\n<br>\n<font color=\"#FF8C00\" , font size=\"4\" ><b>How To Contol?</b></font> \n<font color=\"#FFFFFF\", font size=\"4\"  ><b>{{msg.payload.c}}</b></font>    \n<br>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1950,"y":200,"wires":[[]]},{"id":"3ebf54ab.b0f59c","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=msg.payload[\"Cooling-System\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":780,"wires":[["cad004f2.ff75b8"]]},{"id":"b5305dd5.d31e1","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=msg.payload.Led\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":820,"wires":[["adfdc22d.06337"]]},{"id":"f999f09.1e0d91","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=msg.payload.Heater\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":860,"wires":[["83b2c5d2.46f1f8"]]},{"id":"533473a4.bef87c","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=msg.payload[\"Field Pump\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2550,"y":900,"wires":[["717783a7.e0381c"]]},{"id":"b0909eda.4fe2f","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=msg.payload[\"Submersible pump\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2560,"y":940,"wires":[["c2c2fc75.e8bd9"]]},{"id":"98ebc0f7.05cd2","type":"function","z":"575e5a7b.0cfc04","name":"","func":"msg.payload=msg.payload.Roof\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":980,"wires":[["b429efa6.540b9"]]},{"id":"28e1a56.e812a5a","type":"function","z":"575e5a7b.0cfc04","name":"","func":"var a=msg.payload[\"Water Heater\"]\nvar b=msg.payload[\"Water Cooler\"]\nif(a==0 && b==1)\n{\n    msg.payload=2\n}\nelse if(a==1 && b==0)\n{\n    msg.payload=3\n}\nelse if(a==0 && b==0)\n{\n    msg.payload=1\n}\nelse\n{\n    msg.payload=4\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2550,"y":1020,"wires":[["df7e4d8d.755b3"]]},{"id":"d54180a0.dddbb","type":"ui_template","z":"4605b7bc.b8b4e8","group":"240c39b0.c7cbc6","name":"","order":22,"width":1,"height":1,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n  \n}\n\n\n\n\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1680,"y":180,"wires":[[]]}]